.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 255px;
    transition: .4s;
}

.btn:hover{
    filter: brightness(1.2);
}

.btn.default{
    padding: 0 2rem;
    height: 44px;
}

.btn.big{
    padding: 0 2.5rem;
    height: 52px;
}

.btn.solid1{
    background: var(--color-orange);
    color: var(--color-white);
}

.btn.solid2{
    background: var(--color-white);
    color: var(--color-orange);
}

.btn.outline1{
    border: 1px solid var(--color-orange);
    color: var(--color-orange);
}

.btn.outline1:hover{
    background: var(--color-orange);
    color: var(--color-white);
}

.btn.outline2{
    border: 1px solid var(--color-white);
    color: var(--color-white);
}

.btn.outline2:hover{
    background: var(--color-white);
    color: var(--color-orange);
}
