h1, h2, h3, h4, h5, h6, p, a, span, li, button, input{
    font-family: 'Roboto', sans-serif;
}

.title{
    font-weight: 600;
}

.title.one{
    font-size: 44px;
}

.title.two{
    font-size: 40px;
}

.title.three{
    font-size: 28px;
}

@media (max-width: 800px){
    .title.one{
        font-size: 32px;
    }

    .title.two{
        font-size: 28px;
    }

    .title.three{
        font-size: 24px;
    }
}

@media (max-width: 400px){
    .title.one{
        font-size: 26px;
    }

    .title.two{
        font-size: 22px;
    }

    .title.three{
        font-size: 20px;
    }   
}

.paragraph{
    font-weight: 400;
    font-size: 16px;
}