.header{
    background: var(--color-orange);
    padding: .8rem 0;
}

.flexGrid{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 28px;
    color: var(--color-white);
}